name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: snehatrimukhe135
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Backend Image
        run: docker build -t snehatrimukhe135/backend:latest ./backend

      - name: Build Frontend Image
        run: docker build -t snehatrimukhe135/frontend:latest ./frontend

      - name: Push Backend Image
        run: docker push snehatrimukhe135/backend:latest

      - name: Push Frontend Image
        run: docker push snehatrimukhe135/frontend:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd mean-crud-devops
            docker-compose pull
            docker-compose down
            docker-compose up -d